.audio-data-container {
  margin: auto;
  margin-top: 80px;
  width: 600px;
  max-width: 90%;
  height: 600px;
  max-height: 90vh;
  box-sizing: border-box;
  background-color: white;
  padding: 30px;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2rem;
  border-radius: 10px;
}

h1,
h2,
h3 {
  margin: 0;
}
